h1 {
   text-align: center;  
   color: honeydew;
   margin-top: 200px;
   font-size: 50pt;
} 

.homeWorks {
    color: honeydew;
    margin-right: -99%;
    float: left;
    font-family: Georgia;
    font-size: 18pt;
    text-shadow: 1px 1px 1px rgb(94, 94, 91), 0 0 1em rgb(62, 202, 204);
}

.homeWorks li a {
color : springgreen
} 

.homeWorks li a:hover {
    color: rgb(247, 185, 233)
}

.homeWorks {
    color: honeydew
}

.author {
    text-align: center; 
    color:honeydew;
    font-size: 21pt;
    
}